*{
  box-sizing: border-box;
  
}

h1 {
  color: #ffffff;
  margin: 2rem 0 2rem;
  font-family: 'Lucida Grande';
  
}

h2 {
  color: #333333;
  margin: 1rem 0 1rem;
}

.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #f56868;
  color: white;
  border: 1px solid #f56868;
  margin: 1rem 6rem 1rem;
  left: calc(50% - 19.5rem);
  text-align: center;
  position: relative;
}

.btn:hover {
  background-color: #f56868;
  border-color: #7f7f7f;
}

.btn--alt {
  background-color: transparent;
  color: #f56868;
}

.btn--alt:hover {
  background-color: #f8dae9;
}

.card1 {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  width: 30rem;
  height: 12rem;
  left: calc(50% - 15rem);
  text-align: center;
  position: absolute;
  border-radius: 25px
}

.actions {
  text-align: right;
}
